<div class="col-lg-12 margin_50" id="home_subtitle"><span class="text_white">CHOOSE A LEVEL :</span></div>
<div class="col-lg-12">
	<div class="col-lg-offset-1 col-lg-2 category_div">
		<div class="col-lg-12 margin_10">
			<i class="fa fa-imdb fa-5x"></i>
		</div>
		<div class="col-lg-12" id="home_subtitle">Easy</div>
	</div>
	
	<div class="col-lg-2 category_div">
		<div class="col-lg-12 margin_10">
			<i class="fa fa-futbol-o fa-5x"></i>
		</div>
		<div class="col-lg-12" id="home_subtitle">Medium</div>
	</div>
	
	<div class="col-lg-2 col-lg-offset-1 category_div">
		<div class="col-lg-12 margin_10">
			<i class="fa fa-arrows-alt fa-5x"></i>
		</div>
		<div class="col-lg-12" id="home_subtitle">Hard</div>
	</div>
</div>